@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");

body {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #34495e;
}

.gramatica{
    font-size: larger;
}

.content {
    display: grid;
    place-items: center;
    text-align: center;
    height: 100vh
}

.title {
    font-size: xx-large;
    color: aliceblue;
    text-decoration: dotted;
}

.button {
    height: 50px;
    width: 150px;
    font-size: larger;
}
